<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "/assets/unpoly/unpoly" %>
    <%= javascript_include_tag "/assets/unpoly/unpoly", defer: true, type: "module" %>
    <%= javascript_include_tag "unpoly_config", defer: true, type: "module" %>
    <%= stylesheet_link_tag "main.css" %>
    <%= javascript_include_tag "bootstrap.bundle.js" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
